<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .custcolor {
            color: white;
            font-weight: 100;
            font-size: medium
        }
        .nav-link:hover{
            background-color: rgba(240, 248, 255, 0.078);
        }
    </style>
</head>

<body>
    <div class="">
        <div class="col mb-4">
            logo
        </div>
        <div class="col">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-5">
                <a class="px-3" href="#"><i class="fa-solid fa-house"></i></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0 px-2">
                        <li class="nav-item px-2">
                            <a class="nav-link " href="#" (mouseenter)="isHidden = !isHidden"><i
                                    class="fa-solid fa-money-bill"></i> Financial
                                Calculator</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#"><i class="fa-solid fa-calculator"></i> Math Calculator</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#"><i class="fa-solid fa-scale-balanced"></i> Metal Weight</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#"><i class="fa-solid fa-anchor"></i>
                                Structural Steel Section</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#"><i class="fa-solid fa-table-cells"></i> Other Calculator</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <ng-container *ngIf="isHidden">
                <div class="container bg-dark custcolor" (mouseleave)="isHidden = !isHidden">
                    <div class="row">
                        <div class="col">
                            <b>Loan EMI Calculator</b><br><br>
                            <p class="lh-lg">
                                <a href="#" class="nav-link" *ngFor="let i of LoanEmiCalc">
                                    {{i}}<br>
                                </a>
                            </p>
                            <hr>
                        </div>
                        <div class="col">
                            <b>SIP Calculator</b><br><br>
                            <p class="lh-lg">
                                <a href="#" class="nav-link" *ngFor="let i of SipCalc">
                                    {{i}}<br>
                                </a>
                            </p>
                            <hr>
                        </div>
                        <div class="col">
                            <b>Simple Interest Calculator</b><br><br>
                            <p class="lh-lg">
                                <a href="#" class="nav-link" *ngFor="let i of SimpleIntCalc">
                                    {{i}}<br>
                                </a>
                            </p>
                            <hr>
                        </div>
                        <div class="col">
                            <b>Compound Interest Calculator</b><br><br>
                            <p class="lh-lg">
                                <a href="#" class="nav-link" *ngFor="let i of CompoundIntCalc">
                                    {{i}}<br>
                                </a>
                            </p>
                            <hr>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <b>CAGR Calculator</b><br><br>
                                <p class="lh-lg">
                                    <a href="#" class="nav-link" *ngFor="let i of Cagrcalc">
                                        {{i}}<br>
                                    </a>
                                </p>
                                <hr>
                            </div>
                            <div class="col">
                                <b>RD Calculator</b><br><br>
                                <p class="lh-lg">
                                    <a href="#" class="nav-link" *ngFor="let i of RdCalc">
                                        {{i}}<br>
                                    </a>
                                </p>
                                <hr>
                            </div>
                            <div class="col">
                                <b>Debt Reduction Calculator</b><br><br>
                                <p class="lh-lg">
                                    <a href="#" class="nav-link" *ngFor="let i of DebtReductionCalc">
                                        {{i}}<br>
                                    </a>
                                </p>
                                <hr>
                            </div>
                            <div class="col">
                                <b>Percentage Calculator</b><br><br>
                                <p class="lh-lg">
                                    <a href="#" class="nav-link" *ngFor="let item of percentcalc">
                                        {{item}}<br>
                                    </a>
                                    <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <b>BM Amount Calculator</b>
                            </div>
                            <div class="col">
                                <p class="lh-lg">
                                    <b>CII Calculator</b><br>
                                    <b>Advance CII Calculator</b><br>
                                    <b>Gratuity Calculator</b><br>
                                </p>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- <div class="row">
            <div class="col"></div>
            <div class="col-9"><app-homepage-calc-list></app-homepage-calc-list></div>
        </div> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>