<div class="col-12 my-3 p-4 bg-white">
    <h3><i class="fa fa-retweet mx-3" aria-hidden="true"></i> RGB to HEX Converter</h3>
    <hr>
    <!-- <div class="d-flex flex-md-row flex-sm-column flex-xs-column"> -->
    <div class="my-flex">
        <div class="my-flex-column">
            <p class="small-font">Red(R)</p>
            <div class="my-flex-row pe-5">
                <i class="fa fa-adjust p-3 bg-grey"  aria-hidden="true"></i>
                <input type="text" class="w-100 px-4 small-font" [(ngModel)]="r"/>
            </div>
        </div>
        <div class="my-flex-column">
            <p class="small-font">Green(G)</p>
            <div class="my-flex-row pe-5">
                <i class="fa fa-adjust p-3 bg-grey"  aria-hidden="true"></i>
                <input type="text" class="w-100 px-4 small-font" [(ngModel)]="g"/>
            </div>
        </div>
        <div class="my-flex-column">
            <p class="small-font">Blue(B)</p>
            <div class="my-flex-row pe-5">
                <i class="fa fa-adjust p-3 bg-grey"  aria-hidden="true"></i>
                <input type="text" class="w-100 px-4 small-font" [(ngModel)]="b"/>
            </div>
        </div>
        <div class="my-flex-column justify-content-end">
            <button class="btn btn-primary" (click)="convert()">Convert</button>
        </div>
    </div>
</div>
<div class="col-12 my-3 p-4 bg-white row">
    <div class="col-3 d-flex flex-column align-items-center">
        <p class="big-font sky-blue-font">{{rgb}}</p>
        <p class="small-font">RGB Value</p>
    </div>
    <div class="col-1 d-flex justify-content-center">
        <div style="background-color: grey; width: 10px; height: 100%;"></div>
    </div>
    <div class="col-4 d-flex flex-column align-items-center">
        <p class="big-font red-font">{{hex}}</p>
        <p class="small-font">HEX Value</p>
    </div>
    <div class="col-4 d-flex flex-column align-items-center">
        <p class="big-font red-font">{{cmyk}}</p>
        <p class="small-font">CMYK Value</p>
    </div>
</div>
<div class="col-12 my-3 p-4 bg-white">
    <div style="height: 100px; background-color: {{hex}}"> </div>
</div>